<!DOCTYPE html>
<html>

  <head>
    <title>Something</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=s2ra4l2ff0&submodules=geocoder"></script>
    
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="outer bg-success">
      <div class="middle">
        <div class="text-center">
          <div class="js-clock">
            <h1>00:00</h1>
          </div>
          <form class="js-form d-none form-inline">
              <input type="text" placeholder="What is your name?" class="form-control">
          </form>
          <h4 class="js-greetings greetings"></h4>
          
          <div id="map" class="js-map-show"></div>

          <form class="js-map form-inline d-block">
            <input type="text" placeholder="Write the location" class="form-control">
          </form>
          
          <form class="js-toDoForm d-none form-inline">
            <input type="text" placeholder="Write a to do" class="form-control">
          </form>

          <form class="js-edit-form form-inline d-none">
            <input type="text" placeholder="Edit the location" class="form-control">
          </form>


          <form class="js-delBtns d-none">
            <button class="allDelete btn btn-dark m-1">allDel</button>
            <button class="selectDelete btn btn-dark m-1">selDel</button>
            <button class="openModal btn btn-dark m-1">openModal</button>
          </form>
          
          <ul class="js-toDoList mt-2"></ul>
          
          
          <span class="js-weather"></span>

          <script src="js/weather.js"></script>
          <script src="js/clock.js"></script>
          <script src="js/greeting.js"></script>
          <script src="js/todo.js"></script>
          <script src="js/map.js"></script>
          <!-- <script src="bg.js"></script> -->
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">x</button>
          </div>

          <div class="modal-body">
            Modal body..
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $("#myBtn").click(function(){
          $("#myModal").modal();
        });
      });
      </script>
  </body>

</html>